apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: load-shed-api
  namespace: load-shed
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: load-shed-api
  minReplicas: 2
  maxReplicas: 8
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 65
